<table>
  <tbody>
    <tr>
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name %></td>
    </tr>

    <tr>
      <td><%= form.label :code %></td>
      <td><%= form.text_field :code %></td>
    </tr>

    <tr>
      <td><%= form.label :type %></td>
      <td>
        <% Type.all.sort_by(&:name).each do |type| %>
          <%= form.radio_button :type_name, type.name%>
	  <%= form.label type.name %>
	  <br/>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><%= form.label :description %></td>
      <td><%= form.text_area :description %></td>
    </tr>

    <tr>
      <td><%= form.submit %></td>
    </tr>
  </tbody>
</table>
